<!DOCTYPE html>
<html>
<head lang="en">
	<title>Area of Rectangle</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>
		function calculateTriangle(l, w) {
			return l * w
		}

		var app = angular.module('fact-app', []);
		app.controller('ctrl', function($scope) {
			$scope.calculate = function () {
				let length = parseFloat($scope.l);
				let width = parseFloat($scope.w);

				$scope.answer = calculateTriangle($scope.l, $scope.w);

			};
		});
	</script>
</head>
<body>
	<div class="text-center bg-body-secondary jumbotron position-relative">
		<h1><b>Computer Engineering Technology Web Programming</b></h1>

		<div class="p-3 position-absolute" style="right: 60px; bottom: -16px; width: 400px;">
			<nav class="navbar navbar-expand-lg navbar-light bg-light flex-row">
				<ul class="navbar-nav flex-row" >
					<li class="nav-item">
						<a class="nav-link" href="index.html" style="text-decoration: underline;">Index</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="areaCalculator.html" style="text-decoration: underline;">AreaCalculator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Fibonacci.html" style="text-decoration: underline;">Fibonacci</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Factorial.html" style="text-decoration: underline;">Factorial</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div ng-app="fact-app" ng-controller="ctrl">
	<h1 style="padding-left: 20px;">This Program calculates the area of a rectangle.</h1>
	<h3 style="padding-left: 20px;">Please enter the length and width of the rectangle</h3>
	<p style="padding-left: 20px;">Length: <input type="text" ng-change="calculate()" ng-model="l" placeholder="Enter here"></p>
	<p style="padding-left: 20px;">Width: <input type="text" ng-change="calculate()" ng-model="w" placeholder="Enter here"></p>
	<h3 style="padding-left: 20px;">Area of the rectangle: {{answer}}</h3>
	</div>
</body>
<footer>
	<div>
		<div class="text-center bg-light-subtle jumbotron">
			<p>[041161454]</p>
			<p>Vincent Welbourne</p>
			<p>welb0022@algonquinlive.com</p>
		</div>
</footer>
</html>
